* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: #ecf0f1;
}


h1{
    font-size: 0.5rem; 
}

.main{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.img-perfil{
    width: 8rem;
    border-radius: 50%;
    border: 1px solid #27ae60;
    padding: 0.18rem;
    margin-bottom: 0.5rem;
}

.perfil {
    text-align: center;
    color: #95a5a6;
    margin-bottom: 0.5rem;   
}

.user{
    font-size: 0.700rem;
    font-weight: 300;
}

.links {
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.links-list {
    list-style: none;
    text-decoration: none;

}

.links-list a{
    width: 100%;
    text-decoration: none;
    display: block;
    padding: 0.4rem 8rem;
    border: 0.1rem solid #27ae60;
    border-radius: 0.325rem;
    font-size: 0.7rem;
    color: #27ae60;
    font-weight: 900;
}

.links-list a:hover{
    background-color: #27ae60;
    transition: all 0.5s linear;
    color: #ecf0f1;
}

.links-list li{
    list-style: none;
    text-decoration: none;
    margin:  0.625rem;
}

.icones{
    width: 15rem;
    display: flex;
    justify-content: space-around;
    margin-top: 1.5rem;
}

.icone:hover{
    position: relative;
    bottom: 0.2rem;
}


